html, body, *, header .brand-name h1,h2,h3,h4,h5,h6,p{
     font-family: "Microsoft YaHei"; 
 }
.about_no_padding{
    padding: 0px;
    height: 600px;
}
.about_bgcolor {
    background-color: #0487DF;
    padding: 60px 15px 60px 0px;
    height: 280px;
}
.about_bgcolor h2 {
    color: white;
}
.white_bgcolor {
    background-color: white;
}
hr.white-colored {
    border-color: white;
}
.white_bgcolor p{
    font-size: 15px;
}
.white-space-normal {
    white-space: normal;
    border-color: black;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    width: 240px;
}
header .intro-content_ {
    top: 40%;
    left: 70%;
    text-align: left;
}
header .brand-name_ {
    font-size: 40px;
    line-height: 30px;
}
.text-align-left {
    text-align: left;
}
.text-align-left p{
    font-size: 16px;
    line-height:1.2;
    font-weight: bold;
}
.content-row_ {
    margin-top: 0px;
}
.owl-item_ {
    padding: 10px;
}
.btn-outline-light:hover, .btn-outline-light:focus{
    outline:0;
    color:white;
    background:black;
}
.fadeIn_{
    padding: 0px 10px;
}
.about-contact p{
    font-size: 16px;
    text-align: left;
}
.map {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #484848;
}
.container {
    margin: 0px 110px 0 110px;
}
.no-padding-bottom {
    padding-bottom: 0px;
}
.no-padding-top {
    padding-top: 0px;
}
.no-margin{
    margin: 0px;
}
.portfolio-carousel .item_ {
    padding-top: 100px;
    padding-bottom: 210px;
}
.round {
    padding:0px; width:380px; height:50px;
    border: 1px solid white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    background-color: white;
    margin:15px auto;
}
.input-class {
    border:0px;
    height: 50px;
    padding-left: 15px;
    font-size: 12px;
}
.input-type{
    padding: 25px;
}
form .row:first-child .no-border {
    border:0px;
}
.send-round {
    padding:0px; width:70px; height:40px;
    border: 1px solid white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin: 0px auto;
    background-color: white;
    color: #999999;
    font-size:18px;
}
.general-situation {
    height: 150px;
}
.produce {
    padding: 20px;
    background-color: #0487DF;
}
.auto-height-off {
    height: 680px
}
.margin-auto {
    margin: 0 auto;
}
.platform p{
    line-height: 170%;
}
.square h4:before {
    content:"22";
    background-color:white;
    margin-right: 10px
}
.p01-1 {
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 20px;
}
.p01-1 p{
    line-height: 200%;
    font-size: 18px;
}
.p01-2 {
    border: 1px solid #0487DF;
    color: white;
    text-align: center;
    background-color: #0487DF;
    margin: 20px 0px;
}
.p01-1-3 {
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 38px;
}
.p01-1-3 p{
    line-height: 200%;
    font-size: 18px;
}
.white-space-nowrap h4{
    white-space:nowrap;
}
.padding-45 {
    padding: 20px 0px 20px 45px;
}
.p35-content {
    padding: 60px 0px 60px 35px;
}
.padding-40 {
    padding: 40px;
}